.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding: 6rem 2rem 2rem;
  color: rgb(255, 255, 255);
}

.main div div {
  margin-block: 1rem;
}

.overflow {
  overflow: auto;
}

.input {
  width: 200px;
  height: 100%;
  padding: 1%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}


.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #12e89a;
  color: #ffffff;
}

.connect {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem 2rem 7rem;
}

.connectBtn {
  width: fit-content;
  margin-inline-start: auto;
  margin-block-end: 11rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(18, 232, 154, 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
  }
}

@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }

  .main div {
    width: 100%;
  }

  .connect {
    padding: 1rem 2rem 2rem;
  }
}
